{% extends 'base.html.twig' %}

{% block title -%}
    {{parent()}} - Log in!
    {%- endblock %}

    {% block body %}
        <section class="flex items-center justify-center min-h-screen bg-gray-100">
            <div class="container flex flex-col items-center max-w-md p-6 rounded-md sm:p-10 bg-gray-50 text-gray-800">
                <div class="mb-8 text-center">
                    <h1 class="my-3 text-4xl font-bold">Sign in</h1>
                    <p class="text-sm text-gray-600">Sign in to access your account</p>
                </div>

                {% if error %}
                    <div class="mb-8 text-center iborder border-red-500 bg-red-100 rounded p-4">
                        <p class="text-sm text-red-700 font-medium">Error: {{ error.messageKey|trans(error.messageData, 'security') }}</p>
                    </div>
                {% endif %}

                <form novalidate="" action="" class="space-y-12" method="post">
                    <div class="space-y-4">
                        <div>
                            <label for="email" class="block mb-2 text-sm">Email address</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="leroy@jenkins.com" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800">
                        </div>
                        <div>
                            <div class="flex justify-between mb-2">
                                <label for="password" class="text-sm">Password</label>
                            </div>
                            <input type="password" name="password" id="inputPassword" placeholder="*****" class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50 text-gray-800" autocomplete="email" required>
                        </div>
                    </div>
                    <div class="flex justify-between">
                        <div class="flex items-center">
                            <input type="checkbox" name="_remember_me" id="remember" aria-label="Remember me" class="mr-1 rounded-sm focus:ring-purple-600 focus:border-purple-600 focus:ring-2 accent-purple-600">
                            <label for="remember" class="text-sm text-gray-600">Remember me</label>
                        </div>
                        <a class="text-sm text-gray-600" href="/">Forgot your password?</a>
                    </div>
                    <div class="space-y-2">
                        <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
                        <div>
                            <button type="submit" class="w-full px-8 py-3 font-semibold rounded-md bg-purple-600 text-gray-50">Sign in</button>
                        </div>
                        <p class="px-6 text-sm text-center text-gray-600">Don't have an account yet?
                        <a rel="noopener noreferrer" href="#" class="hover:underline text-purple-600">Sign up</a>.
                        </p>
                    </div>
                </form>
            </div>
        </section>
    {% endblock %}

