
services:
  nginx:
    image: docker.io/library/nginx:latest
    container_name: symfony_nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx:/etc/nginx
      - ./:/var/www:rw
      - ./var/cache/nginx:/var/cache/nginx
      - ./var/log/nginx:/var/log/nginx
      - ./certbot/conf/:/etc/nginx/ssl/:rw
      - ./certbot/www/:/var/www/certbot/:ro
    depends_on:
      - certbot
      - php
      - mariadb
      # - mercure
    networks:
      - app-network

  certbot:
    container_name: symfony_certbot
    image: docker.io/certbot/certbot:latest
    volumes:
      - ./certbot/www/:/var/www/certbot/:rw
      - ./certbot/conf/:/etc/letsencrypt/:rw
      - ./var/log/letsencrypt:/var/log/letsencrypt

  php:
    container_name: symfony_php
    build:
      context: ./docker-file
      dockerfile: ./Dockerfile-php
    volumes:
      - ./:/var/www:rw
      - ./var/log/php:/var/log/php
    working_dir: /var/www
    environment:
      - APP_ENV=dev
    depends_on:
      - mariadb
    networks:
      - app-network

  mariadb:
    build:
      context: ./docker-files/mariadb
      dockerfile: Dockerfile
    container_name: symfony_mariadb
    environment:
      MARIADB_ROOT_PASSWORD: root
      MARIADB_USER: symfony
      MARIADB_PASSWORD: symfony
    volumes:
      - ./mariadb_logs:/var/log/mysql
      - ./mariadb_data:/var/lib/mysql
      - ./mariadb/init-db.sql:/docker-entrypoint-initdb.d/init-db.sql:ro
    ports:
      - "3306:3306"
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-u", "root", "-p$MYSQL_ROOT_PASSWORD"]
      interval: 10s
      retries: 5
      timeout: 5s
      start_period: 20s

  elasticsearch:
    privileged: true
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.0
    container_name: symfony_elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m -Des.cgroups.hierarchy.override=/ -XX:-UseContainerSupport
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
      - es_data:/usr/share/elasticsearch/data
    ports:
      - "9200:9200"
    networks:
      - app-network
    restart: unless-stopped
    cgroupns: host

## I couldn't get this to work properly, maybe someone else can help with that
  # mercure:
  #   image: dunglas/mercure
  #   container_name: symfony_mercure
  #   ports:
  #     - "3000:80"
  #   environment:
  #     # Change JWT_SECRET and other keys for your needs
  #     - JWT_SECRET=
  #     - ALLOW_ANONYMOUS=1
  #     - CORS_ALLOWED_ORIGINS=*
  #     - PUBLISH_ALLOWED_ORIGINS=*
  #     - MERCURE_PUBLISHER_JWT_KEY=
  #     - MERCURE_SUBSCRIBER_JWT_KEY=
  #     - MERCURE_EXTRA_DIRECTIVES=|
  #         log stdout
  #         insecure
  #         anonymous
  #     - SERVER_NAME=:80
  #   networks:
  #     - app-network
  #   volumes:
  #     - mercure_data:/data
  #     - mercure_config:/config

volumes:
  netdataconfig:
  netdatalib:
  netdatacache:
  # mercure_data:
  # mercure_config:
  mariadb_data:
  mariadb_logs:
  es_data:
    # Optional: bind to a specific path for easy access on host
    driver: local
    name: es_data
    # Uncomment if you want to control exactly where it stores data on your host:
    # driver_opts:
    #   type: none
    #   o: bind
    #   device: /var/lib/containers/elasticsearch-data
  nginx:
    driver: local
  php-fpm-sock:
    driver: local

networks:
  app-network:
    driver: bridge