{% extends 'base.dashboard.html.twig' %}

{% block title %}{{ page_type }} Product{% endblock %}

{% block main %}
    <section class="max-w-4xl p-6 mx-auto bg-white rounded-md shadow-md dark:bg-gray-800">
        <h2 class="text-lg font-semibold text-gray-700 capitalize dark:text-white">{{ page_type }} Product</h2>
        <twig:ProductForm :form="form" :product="product" />
    </section>
{% endblock %}
