<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
                name="viewport"
                content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
                />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>
            {{ site_name }} | {{ page_title|default('Dashboard') }}
        </title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            {% endblock %}
    </head>
    <body>
        <div class="flex h-screen">
            <twig:Sidebar />
            <main class="flex-1 overflow-y-auto p-8 bg-gray-50 dark:bg-gray-800">
                {% block main %}
                {% endblock %}
            </main>
        </div>
    </body>
</html>
